html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body{
   min-width:320px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:360px;             /* As IE ignores !important it will set width as 1000px; */
}

.title {
  color: white;
  margin: 30px 0 0 30px;
  clear: both;
}

.blue{
  color: #00B5E0;
}

.contact{
  font-size: 12px;
  color: white;
  border: 1px solid #fff;
  padding: 10px 20px;
  width: 90px;
  border-radius: 25px;
  position: absolute;
  top: 20px;
  right: 30px;
  text-decoration: none;
}

.row{
  margin: 10%;
  padding-bottom: 150px;
}

.col{
  width: 28%;
  float: left;
  font-size: 12px;
  padding-right: 5%;
  text-align: center;
}

.contentImage{
  display:block;
  margin:auto;
  margin-bottom: 10px;
}

.contentHeading{
  margin-bottom: 10px;
}

.email{
  clear: both;
  margin: auto;
  margin-top: 150px;
  width: 50%;
  background-color:rgba(255, 255, 255, 0.2);
  padding: 30px 20px;
  border-radius: 25px;
  height: 75px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px;
  border: 0px;
}

.inputText{
  width: 50%;
  height: 30px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align:center;
}

input[type="email"]
{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type="submit"]
{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  height: 40px;
  width: 75px;
  background-color: #00B5E0;
}

@media (max-width: 375px) {
  .email {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .col{
    width: 90%;
    float: left;
    font-size: 12px;
    padding: 5%;
    text-align: center;
  }

  .email {
    width: 350px;
  }
}
